/* ?„ì²´ ?¤í????•ì˜ */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
  font-family: :'Nanum Gothic';
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover{
  color: #bbbbbb;
  text-decoration: none;
  cursor:pointer;
}

/* ?¤ë¹„ê²Œì´??*/
.navbar-default  { /*ë°°ê²½ ?‰ìƒ*/
  background-color: #000000;
  border-coler: #000000;
}
.navbar-default .navbar-brand { /* ?¤ë¹„ê²Œì´???œëª© ?‰ìƒ */
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus { /* ?¤ë¹„ê²Œì´???œëª©??ë§ˆìš°???¬ë¦´??*/
  background-color: transparent;
  coler: #bbbbbb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { /* ?„ìž¬ ? íƒ???´ë¹„ê²Œì´???‰ìƒ */
  color: white;
  background-color:#000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{ /* ?¤ì´ê²Œì´??ê¸€?ì— ë§ˆìš°???¬ë ¸?„ë•Œ */
  color: #bbbbbb;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{ /* ?¸ëž?¤ìš´???´ë ¸????ë§ˆìš°???‰ìƒ ?´ë²¤??*/
  background-color:#000000;
  blackgrount-color:#ffffff;
  text-decoration: none;
}
.navbar-default .navbar-nav > li > a { /*?¤ë¹„ê²Œì´??ê¸°ë³¸ ?‰ìƒ */
  color: white;
}

@media (max-width: 767px){  /*?”ë©´???‘ì•„ì§ˆë–„ */
  .navbar-default .navbar-nav > .open .dropdown-menu > li > a{
    color: #ffffff;
  }
  .navbar-default .navbar-nav > .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > .open .dropdown-menu > li > a:focus{
    color: #bbbbbb;
  }
}
